<div>
    <h1 class="title animated fadeInLeftBig slow card z-depth-3 center-align">Read the Latest from 'The New York Times'
    </h1>
    <div class="row">
        <div class="col s3"></div>
        <h5 class="title animated fadeInRightBig slow card y-depth-3 center-align col s6">Click 'Scrape' to get the
            latest articles</h5>
    </div>
</div>
<div class="row">
    <div class="col s2"></div>
    <div class="col s8 left-align">
        {{#if article}}
        {{#each article}}
        <div class="assetWrapper">
            <h4 id="title">{{this.title}}
                <a href="/saveArticle" class="btn btn-success save" data-id={{this._id}}>Save Article</a>
            </h4>
            <a href="/readArticle/{{this._id}}" class="btn btn-read" id="sponsor-wrapper">Read Article</a>
        </div>
        <div class="panel-body">
            <p> {{this.summary}}</p>
            <a href={{this.link}} target="_blank">{{this.link}}</a>
        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Looks like we don't have any new articles</h4>
            </div>
        </div>
        {{/if}}
        {{!-- <div class="row">
        <div class="col s2"></div>
        <div class="col s8 left-align">
        {{#each article}}
        <div class="asset-wrapper">
            <h4 id="art-font">{{this.title}}</h4>
            <a href="/readArticle/{{this._id}}" class="css-llk6mt euiyums4" id="sponsor-wrapper">Read Article</a>

        </div>

        {{/each}} --}}
    </div>
</div>